<div class="col-12 col-sm-6 col-md-4">
    <div class="card mx-1 my-3">
        <div class="card-body">
            <h5 class="card-title">
                <%= repo.name %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by
                <%= repo.owner.login %>
            </h6>
            <p class="card-text mt-3 text-justify">
                <%= repo.description %>
            </p>
            <div class="text-right">
                <a href="<%= repo.html_url %>" class="btn btn-outline-primary mt-3 ml-auto">See repo</a>
            </div>
            <p class="card-text mt-4 text-right">
                <small class="text-muted">Last updated
                    <%= new Date(repo.updated_at).toLocaleString() %>
                </small>
            </p>
        </div>
    </div>
</div>